/*******************************************************/
/* CPD */
/*******************************************************/
/*------------------------------------*\
  VARIABLES
\*------------------------------------*/
/* line 12, /Users/jasonjames/Sites/chi-p-d/cpd.less */
body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  text-rendering: optimizeLegibility;
  min-width: 1080px;
}
/* line 20, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 27, /Users/jasonjames/Sites/chi-p-d/cpd.less */
a {
  text-decoration: none;
  color: #103557;
}
/* line 30, /Users/jasonjames/Sites/chi-p-d/cpd.less */
a:hover {
  text-decoration: underline;
}
/* line 33, /Users/jasonjames/Sites/chi-p-d/cpd.less */
a:active {
  color: #103557;
}
/*******************************************************/
/* Header & Navigation */
/*******************************************************/
/* line 42, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.header {
  display: block;
  margin: 0 auto;
  padding: 55px 70px 70px 70px;
  background: #103557;
}
/* line 48, /Users/jasonjames/Sites/chi-p-d/cpd.less */
h1 {
  font-size: 48px;
  line-height: 48px;
  color: white;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  float: left;
  text-decoration: none;
}
/* line 56, /Users/jasonjames/Sites/chi-p-d/cpd.less */
h1 a {
  color: white;
}
/* line 57, /Users/jasonjames/Sites/chi-p-d/cpd.less */
h1 a:hover {
  text-decoration: none;
}
/* line 61, /Users/jasonjames/Sites/chi-p-d/cpd.less */
h2 {
  line-height: 28px;
  font-size: 24px;
  font-weight: bold;
}
/* line 66, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav {
  float: right;
  clear: right;
  padding-top: 11px;
  font-weight: bold;
}
/* line 71, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav li {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 0;
}
/* line 76, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav li:first-child {
  border-left: none;
}
/* line 79, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav li #apply {
  background: white;
  color: #103557;
  padding: 8px 20px 11px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
/* line 86, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav li #apply:active {
  background: #103557;
  color: white;
}
/* line 92, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav a {
  color: white;
  text-decoration: none;
}
/* line 95, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav a:hover {
  text-decoration: none;
}
/* line 98, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#nav a:active {
  color: white;
}
/*******************************************************/
/* Designers */
/*******************************************************/
/* line 108, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content {
  margin: 0 auto;
  padding: 0 70px;
}
/* line 111, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content ul {
  margin-top: 70px;
}
/* line 114, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li {
  margin-bottom: 30px;
  width: 360px;
  margin-right: 60px;
  border-bottom: 1px solid #DDD;
  padding-bottom: 30px;
  display: inline-block;
}
/* line 121, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li a {
  color: #888888;
}
/* line 124, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li h2 a {
  color: #103557;
}
/* line 127, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li img {
  float: left;
}
/* line 130, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li div {
  float: left;
  margin-left: 15px;
}
/* line 133, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li div span {
  font-weight: bold;
}
/* line 138, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content p {
  max-width: 480px;
  margin: 30px 0;
}
/* line 141, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content p.nomarg {
  margin: 0;
}
/* line 144, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content p.about {
  margin: 70px 0;
}
/* line 147, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content p a {
  text-decoration: underline;
}
/* line 151, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content h2.form-title {
  margin: 70px 0 20px 0;
  color: #103557;
}
/*******************************************************/
/* Opportunities */
/*******************************************************/
/* line 161, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content ul.jobs {
  float: left;
  margin-top: 0px;
}
/* line 165, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li.opps {
  display: block;
  width: 480px;
}
/* line 168, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#content li.opps:last-child {
  margin-bottom: 100px;
}
/* line 172, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.post_position {
  float: right;
  width: 300px;
  background: #f5f5f5;
  padding: 30px 32px;
  text-align: center;
}
/* line 178, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.post_position h4 {
  color: #222;
  font-weight: bold;
  margin-bottom: 6px;
}
/* line 184, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.btn_post {
  background-color: #103557;
  color: white;
  padding: 8px 25px 11px;
  font-weight: bold;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}
/* line 195, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.btn_post .free {
  font-weight: normal;
}
/* line 198, /Users/jasonjames/Sites/chi-p-d/cpd.less */
.btn_post:active {
  background: #103557;
  color: white;
}
/*******************************************************/
/* Footer */
/*******************************************************/
/* line 208, /Users/jasonjames/Sites/chi-p-d/cpd.less */
#footer {
  margin-top: 150px;
  height: 400px;
  background-color: #103557;
}
/*******************************************************/
/* Forms */
/*******************************************************/
/* line 217, /Users/jasonjames/Sites/chi-p-d/cpd.less */
form {
  padding-bottom: 100px;
  color: #103557;
}
/* line 221, /Users/jasonjames/Sites/chi-p-d/cpd.less */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
/* line 225, /Users/jasonjames/Sites/chi-p-d/cpd.less */
label span {
  font-weight: normal;
  font-style: italic;
}
/* line 230, /Users/jasonjames/Sites/chi-p-d/cpd.less */
input {
  display: block;
  margin-bottom: 20px;
  min-width: 320px;
  font-size: 16px;
  line-height: 16px;
  padding: 8px 6px;
  color: #777;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border: 1px #103557 solid;
  -webkit-appearance: none;
}
/* line 241, /Users/jasonjames/Sites/chi-p-d/cpd.less */
input.radio {
  display: inline;
  margin-bottom: 6px;
  margin-right: 10px;
}
/* line 246, /Users/jasonjames/Sites/chi-p-d/cpd.less */
input.submit {
  margin-top: 40px;
  background: #103557;
  color: white;
  font-weight: bold;
  border: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 16px 0px;
  font-size: 18px;
}
